.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

.App {
  background-color: #33acdb; /* Set your desired background color */
  /* You can also use background-image for an image background */
  /* background-image: url('your-image-path.jpg'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* Add more styling as needed */
}

/* Add more CSS rules for other elements in your app as necessary */
/* App.css */

.completed-topic {
  text-decoration: line-through; /* Strike through completed topics */
  color: #888; /* Change the color for completed topics */
}
